{% extends "rapira/common/base.jinja2" %}

{% block head_css %}
    {{ super() }}
    {% for cssfile in add_req['css'] %}
        <link href="{{ cssfile }}" rel="stylesheet">
    {% endfor %}
{% endblock head_css %}

{% block content %}
    <div class="container">
        {{ message }}
        {{ login_form|safe }}
    </div>
{% endblock content %}

{% block body_js %}
    {{ super() }}
    {% for jsfile in add_req['js'] %}
        <script src="{{ jsfile }}"></script>
    {% endfor %}

    <script type="text/javascript">
       deform.load()
    </script>
{% endblock body_js %}